<form action="" method="get">
  <input type="hidden" name="uri" value="<%= @search_uri %>">
  <label for="search">Search:</label> <input type="search" name="q" id="search"> <input type="submit" value="Search">
</form>
