You have followed a link to an external Gopher hole. External Gopher holes
cannot be viewed with this proxy, but you can visit them directly.

<a href="gopher://<%= @external_gopher_uri %>"><%= @external_gopher_uri %></a>
