<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>500 Internal Server Error</title>
    <style>
      body { background-color: red; }
    </style>
  </head>
  <body>
  </body>
</html>
